<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/about-me/">The person behind</a>
<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/tags/">{{ i18n "tags" }}</a>

{{ if isset .Site.Params "twitter_username" }}
<a href="https://twitter.com/{{ .Site.Params.twitter_username }}">Twitter</a>
{{ end }}

<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/photos/">{{ i18n "photos" }}</a>

{{- if .Site.IsMultiLingual -}}
{{- range $lang := .Site.Languages -}}
{{- if ne $.Site.Language $lang -}}
<a href="/{{ $lang }}">{{ $lang }}</a>
{{- end -}}
{{- end -}}
{{- end -}}